{{#extend 'layout'}}
  {{#content 'body'}}
    <section id="password">
      <h4>{ change password }</h4>
      <form action="/change-password" method="post">
        <input type="password" name="old" placeholder="old password" required autofocus>
        <input type="password" name="password" placeholder="new password" required>
        <input type="password" name="confirm" placeholder="confirm password" required>
        <button type="submit">save()</button>
      </form>
    </section>
  {{/content}}
{{/extend}}