<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
  <link href="http://fonts.cdnfonts.com/css/menlo" rel="stylesheet">
  <link rel="stylesheet" href="/assets/main.css">
  <title>$(document)</title>
</head>
<body>
  
  <center>
    {{#block 'body'}}{{/block}}
    {{>error}}
  </center>

  <script src="/assets/main.js"></script>
</body>
</html>